.Filter__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Filter__title {
  margin-bottom: 10px;
  color: #252b31;
}

.Form__input-wrap {
  composes: Form__input-wrap from '../Form/Form.module.css';
}

.Form__label {
  composes: Form__label from '../Form/Form.module.css';
}

.Form__input {
  composes: Form__input from '../Form/Form.module.css';
}

.Form__input:hover,
.Form__input:focus {
  border: 2px solid #597387;
}

.Form__input::placeholder {
  padding: 0 5px;
  font-size: 0.9rem;
  font-style: italic;
}
